<nav class="bg-grey-light p-3 rounded font-sans w-full m-4">
    <ol class="list-reset flex text-grey-dark">
      <li><a href="./episodes" class="text-blue font-bold">Episodios</a></li>
      <li><span class="mx-2">/</span></li>
      <li>Episodio {{episode.id}}</li>
      <li><span class="mx-2">/</span></li>
    </ol>
  </nav>

<div>
    <h2 class="text-center text-green-700 text-opacity-75 text-4xl font-serif py-8">Episodio {{episode.id}}</h2>
</div>
<div> 
<div class = "flex flex-wrap border-2 border-green-500 justify-center mx-80 my-8 py-11 shadow-2xl content-center rounded-3xl">

    <ul>
        <li><img src="{{episode.img_url}}" width="500px" height="200px" class=" mr-16 rounded-full"/> </li>
    </ul>
    <ul  class="m-16 text-3xl font-serif">
        <h1>
            {{episode.name}}
        </h1>
        <p> air_date: {{episode.air_date}}</p>
        <p> director: {{episode.director}}</p>
        <p> writer: {{episode.writer}}</p>
        
    </ul>   
</div>

<p *ngFor="let item of episode.characters">
    capitulo : {{item}}
</p>

</div>